/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // Fonts Override
 $family-primary: "Open Sans";
 $family-secondary: "Roboto";

 // Navbar Override
 $navbar-item-hover-color: #fff;

 // Table Override
 $table-background-color: transparent;
 $table-row-hover-background-color:  rgb(50, 50, 61);
 $table-color: #fff;
 $table-cell-heading-color: #fff;
 $table-cell-border: none;

 @import "bulma";

// General
html {
 background: rgb(42, 42, 51);
}

.field_with_errors .label {
  font-weight: bold;
  color: rgb(233, 129, 129);
}

// Navbar
.navbar {
  background: transparent;
}
.navbar-item, .title, .label {
  color: #fff;
}
.navbar-item:hover {
  font-weight: bold;
}
// Table
table a, .table thead th {
  color: #fff;
  &:hover {
    color: rgb(116, 129, 245);
  }
}
.table thead th {
  text-transform: uppercase;
}