<div class="hero-body">
  <div class="columns is-multiline">
    <%= render partial: "card", collection: @playlists, as: :p, locals: { follows: @follows, likes: @likes } %>
  </div>
    <%= will_paginate @playlist, class: "apple_pagination" %>
</div>
