<section class="section">
  <h1 class="title has-text-weight-bold">Add OST</h1>
  <div class="columns">
    <div class="column is-one-third">
      <%= render 'form', playlist: @playlist %>
    </div>
  </div>
</section>